* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif ;
	background-image: "xyz.jpg";
}



.container {
	width: 1170px;
	margin: auto;
}



body {
	
background-image: linear-gradient(#082032, #2C394B,#334756);
	height: 170vh;
}


.nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}



.nav li {
	display: inline-block;
}


.nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}

.nav li a:hover {
	background: #fff;
	color: #333;
}


.logo{
    position: relative;
	margin-top: 1em;
	margin-left: 1em;
}


.content {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.content h1 {
	text-align: center;
	color: #fff;
	font-family: 'Allura', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 60px;
	top: 120px;
    position: fixed;

}
.content p {
	font-family: ubuntu;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
}
.content h1 span {
	color: #0fd84c;
}
.content a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.content a:hover {
	background: #fff;
	color: #333;
}





.names{
    position:absolute;
    top: 24.2px;
    right: 0%;
	color:#34f50d;
	stroke-width: 1px;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
	font-weight: lighter;
    text-transform: uppercase;
}

.logo{
	position: fixed;
	top: 0px;
}

.testavail{
    text-align:center;
    color:white;
    font-size: 35px;
}



.card{
    
   height:3.8em;
	border-radius: 2%;
	font-size: 25px;
	color: white;
    margin-left: 3em;
    background-color: #fefefe;
	background-image: linear-gradient(#393E46, #222831);
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 width: 90%;
	 padding-bottom: 2em;
    padding-top:1.5em;
    padding-left: 1em;
     
}


.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}